<div class="proposition">
    <p><%= "Your proposition is" %></p>
    <p><%= @word.upcase %></p>
</div>
<br>
<div class="score">
  <p id="message"><%= @result[:message] %></p>
  <p><%= "Your game's score is #{@result[:score]}" %></p>
  <p><%= "Your cumulative score is #{(@cumulative_score * 100).round / 100.0}" %></p>
</div>
<br>
<br>
<%= link_to "Play again", "/new" %>
